<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование пользователя</title>
    <!-- Подключаем внешний файл стилей -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Редактирование пользователя</h1>
<!-- Форма для редактирования пользователя -->
<form action="/user" th:action="@{/admin}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">

    <label>Username:</label>
    <input type="text" th:field="*{username}" readonly><br><br>

    <label>Password:</label>
    <input type="password" th:field="*{password}" placeholder="Enter new password" id="passwordInput">
    <input type="checkbox" onclick="showPassword()"> Show Password<br><br>

    <script>
        function showPassword() {
            var passwordInput = document.getElementById("passwordInput");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>

    <label>First Name:</label>
    <input type="text" th:field="*{firstName}"><br><br>

    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"><br><br>

    <label>Age:</label>
    <input type="number" th:field="*{age}" min="0"><br><br>

    <label>Country:</label>
    <input type="text" th:field="*{country}"><br><br>

    <label>Роли:</label>
    <div th:each="role : ${roles}">
        <input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:checked="${user.roles.contains(role)}"/>
        <span th:text="${role.role}"></span>
        <br>
    </div>
    <br>

    <button type="submit" class="btn">Сохранить</button>
    <br><br>
</form>
<!-- Ссылка для возврата к списку пользователей -->
<a th:href="@{/admin}" class="btn">Вернуться к списку пользователей</a>
</body>
</html>
